@model StreetBook.Models.ViewModels.LoginViewModel

@{
  ViewData["Title"] = "StreetBook";
}

<h1 class="display-4 text-center mb-5">Login</h1>

<br />

@await Html.PartialAsync("_Notification")

<div class="card col-12 col-lg-6 offset-lg-3 p-3">
    <form asp-action="Login" asp-controller="Account" asp-route-returnurl="@ViewBag.ReturnUrl">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
        <input type="password" class="form-control" placeholder="Password" asp-for="@Model.Password" value="@Model.Password" >
      </div>

      <center>
          <button type="submit" class="btn btn-primary">Login</button>
      </center>
    </form> 
</div>
