@using System.Text.Json;

@model StreetBook.Models.ViewModels.StreetBookViewModel

@{
    ViewData["Title"] = "StreetBook";
}

@await Html.PartialAsync("_Notification")

<p>
    Leer simpel en snel, alle mensen uit de straat kennen met dit spel!
</p>

<h3><i class="fa-solid fa-book-sparkles"></i> Spelregels</h3>

<ul>
  <li>5 rondes</li>
  <li>1 punt voor de juiste voornaam</li>
  <li>1 punt voor het juiste huisnummer</li>
  <li>10 punten in totaal</li>
</ul>

<div class="row gy-3">
    <div class="col py-3">
        <h3><i class="fa-regular fa-gamepad-modern"></i> Spel</h3>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" id="profile-pic">
            <div class="card-body">
                <h5 class="card-title" id="score">Punten: 0</h5>

                <div class="progress mb-3" role="progressbar">
                    <div class="progress-bar" id="progress-bar" style="width: 0%"></div>
                </div>

                <p class="card-text bg-success-subtle rounded p-3 mt-3 d-none" id="answer"></p>

                <div class="mb-3">
                    <label for="firstName-input" class="form-label">Voornaam</label>
                    <input type="text" class="form-control" id="firstName-input">
                </div>

                <div class="mb-3">
                    <label for="houseNumber-input" class="form-label">Huisnummer</label>
                    <input type="number" class="form-control" id="houseNumber-input">
                </div>

                <div class="mb-3 d-none" id="playerName-wrapper">
                    <label for="playerName-input" class="form-label">Spelernaam</label>
                    <input type="text" class="form-control" id="playerName-input">
                </div>

                <button class="btn btn-primary float-end" id="submit-btn">
                    <i class="fa-regular fa-circle-question" id="submit-btn-icon"></i>
                    <span id="submit-btn-text">Beantwoorden</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col py-3">
        <h3><i class="fa-regular fa-trophy-star"></i> Highscores</h3>
        <table class="table">
             <thead>
                <tr>
                    <th>Score</th>
                    <th>Naam</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var score in Model.HighScores)
                {
                    <tr>
                        <td>@score.Value</td>
                        <td>@score.Key</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<dialog closedby="any">
</dialog>

@section Scripts
{
    <script>
        var index = 0;
        var score = 0;
        var turns = @Html.Raw(Model.PersonsJson);

        document.addEventListener('DOMContentLoaded', function() {
            const dialog = document.querySelector("dialog");
            const profilePic = document.getElementById("profile-pic");
            const submitBtn = document.getElementById("submit-btn");
            const submitBtnText = document.getElementById("submit-btn-text");
            const submitBtnIcon = document.getElementById("submit-btn-icon");
            const firstNameInput = document.getElementById("firstName-input");
            const houseNumberInput = document.getElementById("houseNumber-input");
            const scoreDisplay = document.getElementById("score");
            const answerDisplay = document.getElementById("answer");
            const progressBar = document.getElementById("progress-bar");

            profilePic.src = `/picture/${turns[index].HouseNumber}_${turns[index].FirstName.toLowerCase()}`;

            profilePic
                .addEventListener("click", function() {
                    dialog.innerHTML = `<img src="${profilePic.getAttribute("src")}" class="img-fluid" style="max-height: 60vh" />`;
                    dialog.showModal();
                });

            submitBtn
                .addEventListener("click", function() {
                    if (submitBtnText.textContent == "Beantwoorden")
                    {
                        // Check if first name matches
                        if (firstNameInput.value.trim()
                            .localeCompare(turns[index].FirstName, "nl", { sensitivity: 'base' }) == 0) {
                            firstNameInput.classList.add("is-valid");
                            score++;
                        }
                        else {
                            firstNameInput.classList.add("is-invalid");
                        }

                        // Check if house number matches
                        if (houseNumberInput.value == turns[index].HouseNumber) {
                            houseNumberInput.classList.add("is-valid");
                            score++;
                        }
                        else {
                            houseNumberInput.classList.add("is-invalid");
                        }

                        scoreDisplay.innerText = `Punten: ${score}`;

                        answerDisplay.innerHTML = `Voornaam: ${turns[index].FirstName}<br/>Huisnummer: ${turns[index].HouseNumber}`;
                        answerDisplay.classList.remove("d-none");

                        progressBar.style.width = `${((index + 1) / turns.length) * 100}%`;

                        if (index == turns.length - 1) {
                            document.getElementById("playerName-wrapper").classList.remove("d-none");
                            submitBtnText.textContent = "Score opslaan";
                            submitBtnIcon.classList.remove("fa-arrow-right");
                            submitBtnIcon.classList.add("fa-floppy-disk");
                        }
                        else {
                            submitBtnText.textContent = "Volgende";
                            submitBtnIcon.classList.remove("fa-circle-question");
                            submitBtnIcon.classList.add("fa-arrow-right");
                        }
                    }
                    else if (submitBtnText.textContent == "Volgende")
                    {
                        answerDisplay.innerHTML = "";
                        answerDisplay.classList.add("d-none");

                        index++;

                        firstNameInput.value = "";
                        firstNameInput.classList.remove("is-valid");
                        firstNameInput.classList.remove("is-invalid");

                        houseNumberInput.value = "";
                        houseNumberInput.classList.remove("is-valid");
                        houseNumberInput.classList.remove("is-invalid");

                        profilePic.src = `/picture/${turns[index].HouseNumber}_${turns[index].FirstName.toLowerCase()}`;

                        submitBtnText.textContent = "Beantwoorden";
                        submitBtnIcon.classList.remove("fa-arrow-right");
                        submitBtnIcon.classList.add("fa-circle-question");
                    }
                    else if (submitBtnText.textContent == "Score opslaan")
                    {
                        fetch("/play/highscores", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                name: document.getElementById("playerName-input").value,
                                score: score
                            })
                        })
                        .then(response => location.reload());
                    }
                });
        });
    </script>
}