@using System.Text.Json;

@model StreetBook.Models.ViewModels.StreetBookViewModel

@{
    ViewData["Title"] = "StreetBook";
}

@await Html.PartialAsync("_Notification")

<table id="streetBookTable">
    <thead>
        <tr>
            <th scope="col">Nr.</th>
            <th scope="col">Foto</th>
            <th scope="col">Info</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model.Persons)
        {
            <tr>
                <td>@person.HouseNumber</td>
                <td>@($"/picture/{person.HouseNumber}_{person.Name.ToLower()}")</td>
                <td>
                    @person.Name
                    @if (!string.IsNullOrEmpty(person.MobilePhoneNumber))
                    {
                        <br/>
                        @person.MobilePhoneNumber<br/>
                        <a href="tel:@person.MobilePhoneNumber" class="btn btn-outline-primary mt-2"><i class="fa-solid fa-phone"></i></a>
                        <a href="https://wa.me/@person.MobilePhoneNumber" class="btn btn-outline-success mt-2"><i class="fa-brands fa-whatsapp fa-lg"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section Stylesheets
{
    <link rel="stylesheet" href="/css/tabulator_bootstrap5.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
}

@section Scripts
{
    <script src="/js/tabulator.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>

    <script>
        var table = new Tabulator("#streetBookTable", {
            layout:"fitDataStretch",
            height:"100%",
            columns:[
                { title:"Nr.", field:"houseNumber", headerFilter:"list", headerFilterParams:{valuesLookup:true, clearable:true} },
                { title:"Foto", field:"photo", headerSort:false, formatter:function(cell, formatterParams, onRendered) {                    
                    var image = document.createElement("img");
                    image.setAttribute("src", cell.getValue());
                    image.setAttribute("class", "img-thumbnail");
                    image.style.width = "100px";
                    image.addEventListener("load", function(){
                        cell.getRow().normalizeHeight();
                    });

                    var link = document.createElement("a");
                    link.setAttribute("href", cell.getValue());
                    link.setAttribute("class", "profile-pic");
                    link.appendChild(image);

	                return link;
                }, },
                { title:"Info", field:"info", formatter:"html", headerFilter:"input" },
            ],
            groupBy:"houseNumber",
            groupHeader:function(value, count, data, group){
                return `Huisnummer ${value}`;
            },
        });

        $(document).ready(function() {
            $('.profile-pic').magnificPopup({
                type: 'image'
            });
        }); 
    </script>
}